.projects-button {
  background-color: #a1ccc5;
  color: #fff;
  border: none;
  border-radius: 22px;
  padding: 13px 35px;
  font-size: 16px;
  cursor: pointer;
}

.projects-button:hover {
  background-color: #dfedeb;
  color: black;
}
