.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px); /* 80px is the height of the navbar */
  /* background-color: #f5f5dc; */
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 20px auto;
       /* Set a minimum height for the content area */
  min-height: calc(100% - 70px); /* assuming the footer height is 64px */

       /* Add padding to the bottom of the content area */
  padding:20px 20px 70px 20px; /* assuming the footer height is 64px */
  max-height: 320px;
  
}



div.home-container{
  padding: 0px;
  margin: auto;
  max-width: 80%;
  max-height: 400px;

}

.home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  width: 100%;

}

.home-text {
  flex-basis: 50%;
  color: white;
  margin-bottom: 30px;
  margin-left: 10px;
  font-size: 12px;
  margin-top: 40px;
}

.home-image {
  flex-basis: 80%;
}

.home-image img {
  width: 100%;
  height: 100%;
 
}

p{
  padding:0px;
  margin-top: 0px;
  margin-bottom: 10px;
}
h1{
  text-align: center;
  color: black;
  font-weight: 400;
  border-radius: 50px;
  margin-top: 15px;
  margin-bottom: 30px;
  margin: auto;
  max-width:400px;
}
h3{
  font-size: 18px;
  margin: 0px;
  margin-bottom:20px;
}
  
  @media (max-width: 768px) {
    .home-container {
      height: calc(100vh - 120px); /* Increase height to accommodate smaller screens */
      padding: 2rem;
    }
  
    h1 {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }
  
    p {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
  
    .btn {
      padding: 0.75rem 1.5rem;
      font-size: 1.2rem;
    }
  }
  