.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 800px;
  margin: auto;
  margin-top: 10px;
  border-radius:3%;
  background-color: #0B0B45;
  color: white;
}

.nav-links {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin-right: 1rem;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

.nav-link a:hover {
  color: #0069d9;
}
