.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 800px;
  margin: auto;
  margin-top: 10px;
  border-radius:50px;
  background-color: #0B0B45;
  color: white;
}

.nav-links {
  display: flex;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-link {
  margin-right: 1rem;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

.nav-link a:hover {
  color: #0069d9;
}
.social-media a i.fab.fa-facebook-f {
  color: #4267B2;
  font-size: 24px;
  margin-right: 10px;
}
.social-media a i.fab.fa-twitter{
  color: #4267B2;
  font-size: 24px;
  margin-left: 10px;
}

.social-media a i.fab.fa-instagram{
  color: purple;
  font-size: 24px;
  margin-left: 10px;
} 

.social-media a i.fab.fa-github{
  color: black;
  font-size: 24px;
  margin-left: 10px;
} 

.social-media a i.fab.fa-medium{
  font-size: 24px;
  margin-left: 10px;
  color: black;
} 

.social-media a i.fab.fa-linkedin{
  font-size: 24px;
  color: #4267B2;
  margin-left: 10px;
} 
.social-media {
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
}
